<div class="col-xs-4 col-xs-offset-4">
  <div class="animate form login_form">
    <section class="login_content">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <h1>Create new account</h1>
          <div>
            <%= f.input_field :email, required: false, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
          <div>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, required: false, class: "form-control", placeholder: "Password", autocomplete: "off" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, required: false, class: "form-control", placeholder: "Password", autocomplete: "off" %>
          </div>
          <div>
            <%= f.button :submit, "Sign up", class: "form-control btn primary m-0" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <%- if controller_name != 'sessions' %>
                <%= link_to "Log in", new_session_path(resource_name) %><br />
            <% end -%>
          </div>
      <% end %>
    </section>
  </div>

</div>
