<!-- about part start-->
<section class="about_part">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <%= image_tag('kanox_images/about_img_1.png', class: "img_1")%>
          <%= image_tag('kanox_images/about_img_2.png', class: "img_2")%>
          <h2><%= t :years %><br><%= t :experiments %></h2>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-4">
        <div class="about_text">
          <h5><%= t :about_company %></h5>
          <h2><%= t :about_company_title %></h2>
          <p><%= t :about_company_content %></p>
          <a href="<%= about_us_path %>" class="btn_1">learn more <i class="ti-angle-right"></i> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-app-7 custom-animation"><%= image_tag('kanox_images/animate_icon/icon_7.png')%></div>
  <div class="hero-app-8 custom-animation2"><%= image_tag('kanox_images/animate_icon/icon_4.png')%></div>
  <div class="hero-app-6 custom-animation3"><%= image_tag('kanox_images/animate_icon/icon_5.png')%></div>
</section>
<!-- about part start-->