<!--::blog_part start::-->
<section class="blog_part section_padding hide">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5">
        <div class="section_tittle text-center">
          <p><%= t :feature_title %></p>
          <h2><%= t :articles %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-4 d-none d-sm-block d-lg-none">
        <div class="single-home-blog">
          <div class="card">
            <%= image_tag('kanox_images/blog/blog_3.png', :class => 'card-img-top' )%>
            <div class="card-body">
              <a href="blog.html">Art, design</a> | <span> March 30, 2019</span>
              <a href="blog.html">
                <h5 class="card-title">Seasons form upon days may wont bring given herb sixth</h5>
              </a>
              <ul>
                <li> <i class="ti-comments"></i>4 Comments</li>
                <li> <i class="ti-eye"></i>10 View</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <%= image_tag('kanox_images/blog/blog_1.png', :class => 'card-img-top' )%>
            <div class="card-body">
              <a href="blog.html">Technology</a> | <span> March 30, 2019</span>
              <a href="blog.html">
                <h5 class="card-title">Seasons form upon days may wont bring given herb sixth</h5>
              </a>
              <ul>
                <li> <i class="ti-comments"></i>4 Comments</li>
                <li> <i class="ti-eye"></i>10 View</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <%= image_tag('kanox_images/blog/blog_2.png', :class => 'card-img-top' )%>
            <div class="card-body">
              <a href="blog.html">Technology</a> | <span> March 30, 2019</span>
              <a href="blog.html">
                <h5 class="card-title">Very and third him beginning signs hath subdue make
                </h5>
              </a>
              <ul>
                <li> <i class="ti-comments"></i>4 Comments</li>
                <li> <i class="ti-eye"></i>10 View</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <%= image_tag('kanox_images/blog/blog_3.png', :class => 'card-img-top' )%>
            <div class="card-body">
              <a href="blog.html">Technology</a> | <span> March 30, 2019</span>
              <a href="blog.html">
                <h5 class="card-title">Seasons form upon days may wont bring given herb sixth</h5>
              </a>
              <ul>
                <li> <i class="ti-comments"></i>4 Comments</li>
                <li> <i class="ti-eye"></i>10 View</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--::blog_part end::-->