<!-- cta part start-->
<section class="cta_part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="cta_part_iner">
          <div class="cta_part_text">
            <p><%= t :mission_title %></p>
            <h1><%= t :mission %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta part end-->
<!-- service_part part start-->
<section class="service_part section_bg_2 section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single_service_part">
          <div class="single_service_part_iner">
            <span class="ti-mobile"></span>
            <h3><%= t :mission_1_title %></h3>
            <p><%= t :mission_1_content %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_service_part">
          <div class="single_service_part_iner">
            <span class="ti-layers"></span>
            <h3><%= t :mission_2_title %></h3>
            <p><%= t :mission_2_content %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_service_part">
          <div class="single_service_part_iner">
            <span class="ti-lock"></span>
            <h3><%= t :mission_3_title %></h3>
            <p><%= t :mission_3_content %></p>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_service_part">
          <div class="single_service_part_iner">
            <span class="ti-headphone"></span>
            <h3><%= t :mission_4_title %></h3>
            <p><%= t :mission_4_content %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service_part part end-->
