<!--::review_part start::-->
<section class="review_part section_padding">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="section_tittle text-center">
          <p><%= t :feature_title %></p>
          <h2><%= t :client_feedbacks %></h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="intro_video_bg hide" style="<%= "background-image: url(#{asset_path("kanox_images/intro_bg.png")})"%>">
          <div class="intro_video_iner text-center">
            <div class="intro_video_icon">
              <a id="play-video_1" class="video-play-button popup-youtube"
                 href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                <span class="ti-control-play"></span>
              </a>
            </div>
            <p>Go to our FB page</p>
          </div>
        </div>
        <div class="owl-carousel owl-theme" id="sync4">
          <%= image_tag('kanox_images/intro_bg.png', :class => "image")%>
          <%= image_tag('kanox_images/intro_bg.png', :class => "image")%>
          <%= image_tag('kanox_images/intro_bg.png', :class => "image")%>
          <%= image_tag('kanox_images/intro_bg.png', :class => "image")%>
        </div>
      </div>
      <div class="col-md-8 col-lg-5">
        <div class="review_text_item">
          <div class="row">
            <div class="col-lg-7 col-sm-8">
              <div class="owl-carousel owl-theme" id="sync2">
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <%= image_tag('kanox_images/client/client_1.png', :class => "image")%>
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <%= image_tag('kanox_images/client/client_2.png', :class => "image")%>
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <%= image_tag('kanox_images/client/client_3.png', :class => "image")%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="slider owl-carousel owl-theme" id="sync1">
                <div class="client_review_text">
                  <p><%= t :feedback_1 %></p>
                  <div class="client_info">
                    <h3><%= t :client_1_name %></h3>
                    <h5><%= t :client_1_info %></h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p><%= t :feedback_2 %></p>
                  <div class="client_info">
                    <h3><%= t :client_2_name %></h3>
                    <h5><%= t :client_2_info %></h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p><%= t :feedback_3 %></p>
                  <div class="client_info">
                    <h3><%= t :client_3_name %></h3>
                    <h5><%= t :client_3_info %></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--::blog_part end::-->