<!-- service_part start-->
<section class="our_latest_work section_padding">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="section_tittle text-center">
          <p><%= t :feature_title %></p>
          <h2><%= t :feature %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <% if item = Post.find_by_static_id("service_1") %>
          <div class="single_work">
            <div class="row align-items-center">
                <div class="offset-lg-1 col-lg-4 col-md-6">
                  <div class="single_work_demo">
                    <h3><%= item.titlee %></h3>
                    <p><%= (sanitize item.contentt.gsub("\n", "<br />")[0..500], tags: %w(strong br)) %></p>
                    <a href="<%= post_path(Post.find_by_static_id("service_1")) %>" class="btn_3"><%= t :learn_more %> <span class="flaticon-slim-right"></span> </a>
                  </div>
                </div>
              <div class="offset-lg-1 col-lg-6 col-md-6">
                <div class="demo_img">
                  <%= image_tag('kanox_images/demo/demo_1.png')%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if item = Post.find_by_static_id("service_2") %>
          <div class="single_work">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="demo_img">
                  <%= image_tag('kanox_images/demo/demo_2.png')%>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single_work_demo">
                  <h3><%= item.titlee %></h3>
                  <p><%= (sanitize item.contentt.gsub("\n", "<br />")[0..500], tags: %w(strong br)) %></p>
                  <a href="<%= post_path(Post.find_by_static_id("service_2")) %>" class="btn_3"><%= t :learn_more %> <span class="flaticon-slim-right"></span> </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if item = Post.find_by_static_id("service_3") %>
          <div class="single_work">
            <div class="row align-items-center">
              <div class="offset-lg-1 col-lg-4 col-md-6">
                <div class="single_work_demo">
                  <h3><%= item.titlee %></h3>
                  <p><%= (sanitize item.contentt.gsub("\n", "<br />")[0..500], tags: %w(strong br)) %></p>
                  <a href="<%= post_path(Post.find_by_static_id("service_3")) %>" class="btn_3"><%= t :learn_more %> <span class="flaticon-slim-right"></span> </a>
                </div>
              </div>
              <div class="offset-lg-1 col-lg-6 col-md-6">
                <div class="demo_img">
                  <%= image_tag('kanox_images/demo/demo_3.png')%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="single_work">
                  <div id="filterrific_results">
                    <div class="home">
                      <div class="row list_posts">
                        <%= render partial: "list_posts_template" , locals: {records: @records }%>
                      </div>
                      <div class="row pagination">
                        <%= render partial: "list_posts_pagination_template" , locals: {pages: @pages, current_page: 1 }%>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
  </div>
</section>
<!-- service_part end-->
