  <%= render(partial: "layouts/top_nav", :locals => {:c => ""}) %>

  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg" style="<%= "background-image: url(#{asset_path("kanox_images/aaa/breadcrumb_bg.png")})"%>">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              <h2><%= t :about_us %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!-- about part start-->
  <section class="about_part about_padding">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="about_img">
            <%= image_tag('kanox_images/aaa/about_img_1.png', class: "img_1")%>
            <%= image_tag('kanox_images/aaa/about_img_2.png', class: "img_2")%>
            <h2><%= t :years %><br><%= t :experiments %></h2>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-4">
          <div class="about_text">
            <h5><%= t :about_company %></h5>
            <h2><%= t :about_company_title %></h2>
            <p><%= t :about_company_content %></p>
            <a href="#" class="btn_1">learn more <i class="ti-angle-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-app-7 custom-animation"><%= image_tag('kanox_images/animate_icon/icon_7.png')%></div>
    <div class="hero-app-8 custom-animation2"><%= image_tag('kanox_images/animate_icon/icon_4.png')%></div>
    <div class="hero-app-6 custom-animation3"><%= image_tag('kanox_images/animate_icon/icon_5.png')%></div>
  </section>
  <!-- about part start-->

  <!-- team_member part start-->
  <section class="team_member_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="single_team_member">
            <%= image_tag('kanox_images/team/team_1.png')%>
            <div class="single_team_text">
              <h3><a href="#"> Jhosef Williams</a></h3>
              <p>Web developer</p>
              <div class="team_member_social_icon">
                <a href="#">facebok</a>
                <a href="#">twitter</a>
                <a href="#">skype</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single_team_member">
            <%= image_tag('kanox_images/team/team_2.png')%>
            <div class="single_team_text">
              <h3><a href="#">Daniel Hancock</a></h3>
              <p>Web developer</p>
              <div class="team_member_social_icon">
                <a href="#">facebok</a>
                <a href="#">twitter</a>
                <a href="#">skype</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single_team_member">
            <%= image_tag('kanox_images/team/team_3.png')%>
            <div class="single_team_text">
              <h3><a href="#">Bernard Perales</a></h3>
              <p>Web developer</p>
              <div class="team_member_social_icon">
                <a href="#">facebok</a>
                <a href="#">twitter</a>
                <a href="#">skype</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- team_member part end-->

  <!-- happy_client counter start -->
  <section class="happy_client">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="single_happy_client">
            <%= image_tag('kanox_images/icon/cap.svg')%>
            <span class="counter">85</span>
            <h4>Satisfied <br>client</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_happy_client">
            <%= image_tag('kanox_images/icon/bag.svg')%>
            <span class="counter">95</span>
            <h4> Total<br>project</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_happy_client">
            <%= image_tag('kanox_images/icon/shirt.svg')%>
            <span class="counter">75</span>
            <h4>work<br>completed</h4>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_happy_client">
            <%= image_tag('kanox_images/icon/cafe.svg')%>
            <span class="counter">95</span>
            <h4>work<br>completed</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- happy_client counter end -->

  <!--::review_part start::-->
  <section class="review_part section_padding">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="section_tittle text-center">
            <p><%= t :feature_title %></p>
            <h2><%= t :client_feedbacks %></h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="intro_video_bg" style="<%= "background-image: url(#{asset_path("kanox_images/aaa/intro.png")})"%>">
            <div class="intro_video_iner text-center">
              <div class="intro_video_icon">
                <a id="play-video_1" class="video-play-button popup-youtube"
                   href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                  <span class="ti-control-play"></span>
                </a>
              </div>
              <p>Watch intro video</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-5">
          <div class="review_text_item">
            <div class="row">
              <div class="col-lg-7 col-sm-8">
                <div class="owl-carousel owl-theme" id="sync2">
                  <div class="owl-thumb-item">
                    <div class="slider-thumbnails">
                      <%= image_tag('kanox_images/client/client_1.png', :class => "image")%>
                    </div>
                  </div>
                  <div class="owl-thumb-item">
                    <div class="slider-thumbnails">
                      <%= image_tag('kanox_images/client/client_2.png', :class => "image")%>
                    </div>
                  </div>
                  <div class="owl-thumb-item">
                    <div class="slider-thumbnails">
                      <%= image_tag('kanox_images/client/client_3.png', :class => "image")%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="slider owl-carousel owl-theme" id="sync1">
                  <div class="client_review_text">
                    <p><%= t :feedback_1 %></p>
                    <div class="client_info">
                      <h3><%= t :client_1_name %></h3>
                      <h5><%= t :client_1_info %></h5>
                    </div>
                  </div>
                  <div class="client_review_text">
                    <p><%= t :feedback_2 %></p>
                    <div class="client_info">
                      <h3><%= t :client_2_name %></h3>
                      <h5><%= t :client_2_info %></h5>
                    </div>
                  </div>
                  <div class="client_review_text">
                    <p><%= t :feedback_3 %></p>
                    <div class="client_info">
                      <h3><%= t :client_3_name %></h3>
                      <h5><%= t :client_3_info %></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--::blog_part end::-->



  <%= render "layouts/footer" %>

<% content_for :more_js do  %>
    <script>

    </script>
<% end %>


