  <%= render(partial: "layouts/top_nav", :locals => {:c => ""}) %>

  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg" style="<%= "background-image: url(#{asset_path("kanox_images/breadcrumb.png")})"%>">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              <h2><%= t :services %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!-- cta part start-->
  <section class="cta_part">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="cta_part_iner">
            <div class="cta_part_text">
              <p><%= t :mission_title %></p>
              <h1><%= t :mission %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cta part end-->
  <!-- service_part part start-->
  <section class="service_part section_bg_2 section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="single_service_part">
            <div class="single_service_part_iner">
              <span class="ti-mobile"></span>
              <h3><%= t :mission_1_title %></h3>
              <p><%= t :mission_1_content %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_service_part">
            <div class="single_service_part_iner">
              <span class="ti-layers"></span>
              <h3><%= t :mission_2_title %></h3>
              <p><%= t :mission_2_content %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_service_part">
            <div class="single_service_part_iner">
              <span class="ti-lock"></span>
              <h3><%= t :mission_3_title %></h3>
              <p><%= t :mission_3_content %></p>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_service_part">
            <div class="single_service_part_iner">
              <span class="ti-headphone"></span>
              <h3><%= t :mission_4_title %></h3>
              <p><%= t :mission_4_content %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service_part part end-->

  <!-- service_part start-->
  <section class="our_latest_work section_padding">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="section_tittle text-center">
            <p><%= t :feature_title %></p>
            <h2><%= t :feature %></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="single_work">
            <div class="row align-items-center">
              <div class="offset-lg-1 col-lg-4 col-md-6">
                <div class="single_work_demo">
                  <h3><%= t :feature_1_title %></h3>
                  <p><%= t :feature_1_content %></p>
                  <a href="project_details.html" class="btn_3"><%= t :learn_more %> <span class="flaticon-slim-right"></span> </a>
                </div>
              </div>
              <div class="offset-lg-1 col-lg-6 col-md-6">
                <div class="demo_img">
                  <%= image_tag('kanox_images/demo/demo_1.png')%>
                </div>
              </div>
            </div>
          </div>
          <div class="single_work">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="demo_img">
                  <%= image_tag('kanox_images/demo/demo_2.png')%>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single_work_demo">
                  <h3><%= t :feature_2_title %></h3>
                  <p><%= t :feature_2_content %></p>
                  <a href="project_details.html" class="btn_3"><%= t :learn_more %> <span class="flaticon-slim-right"></span> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="single_work">
            <div class="row align-items-center">
              <div class="offset-lg-1 col-lg-4 col-md-6">
                <div class="single_work_demo">
                  <h3><%= t :feature_3_title %></h3>
                  <p><%= t :feature_3_content %></p>
                  <a href="project_details.html" class="btn_3"><%= t :learn_more %> <span class="flaticon-slim-right"></span> </a>
                </div>
              </div>
              <div class="offset-lg-1 col-lg-6 col-md-6">
                <div class="demo_img">
                  <%= image_tag('kanox_images/demo/demo_3.png')%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- upcoming_event part start-->


  <%= render "layouts/footer" %>

<% content_for :more_js do  %>
    <script>

    </script>
<% end %>


