<div id="filterrific_results">
  <div>
    <% records.each do |item| %>
      <article class="blog_item" style="<%= !item.photo.present? ? "margin-top: 150px" : "" %>">
        <div class="blog_item_img">
          <%= item.title %> <%= item.photo %>
          <% if item.photo.present? %>
              <%= image_tag(item.photo.try(:url), :class => 'card-img rounded-0' )%>
          <% end %>
          <!--              <div class="upload-preview card-img rounded-0">-->
          <!--                <div class="image-preview" style="<%#= item.photo.present? ? "background-image: url('"+item.photo.try(:url)+"');background-size: contain;background-position: center center;" : "" %>"></div>-->
          <!--              </div>-->
          <a href="#" class="blog_item_date">
            <h3><%= item.created_at.strftime("%d") %></h3>
            <p><%= item.created_at.strftime("%b") %></p>
            <p><%= item.created_at.strftime("%Y") %></p>
          </a>
        </div>

        <div class="blog_details">
          <a class="d-inline-block" href="<%= post_path(item) %>">
            <h2><%= item.titlee %></h2>
          </a>
          <p><%= (sanitize item.contentt.gsub("\n", "<br />")[0..500], tags: %w(strong br)) %></p>
          <ul class="blog-info-link">
            <li><a href="#"><i class="fas fa-tag"></i> <%= item.tag_list %></a></li>
          </ul>
        </div>
      </article>
    <% end %>
  </div>
  <%= paginate records %>
</div>
