<div class="x_panel">
  <div class="x_title">
    User Form
  </div>
  <div class="x_content">
    <%= simple_form_for [:admin, record] , html: { class: 'form-horizontal',:id => 'userForm' } do |f| %>
        <% if record.errors.any? %>
            <%= render partial: "admin/meta/error_explanation", locals: {record: record} %>
        <% end %>
        <%= f.input :name , class: 'form-control'%>
        <%= f.input :username %>
        <%= f.input :email %>
        <div class="clearfix"></div>
        <%= f.submit record.new_record? ? "Create" : "Update", class: 'btn success w-100 m-y-sm', id:"regionSubmit" %>

    <% end %>
  </div>

</div>