<!-- footer part start-->
<footer class="footer-area">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm-6 col-md-6 col-xl-3">
        <div class="single-footer-widget footer_1">
          <a href="index.html"> <%= image_tag('kanox_images/footer_logo.png')%> </a>
          <p> <%= t :company %> </p>
          <p> <%= t :location_1 %> </p>
          <p> <%= t :location_2 %> </p>

        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-xl-4">
        <div class="single-footer-widget footer_2">
          <h4>Newsletter</h4>
          <p> <%= t :new_letter %> </p>
          <form action="#">
            <div class="form-group">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder='Enter email address'
                       onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Enter email address'">
                <div class="input-group-append">
                  <button class="btn" type="button"><i class="ti-angle-right"></i></button>
                </div>
              </div>
            </div>
          </form>
          <div class="social_icon hide">
            <a href="#"> <i class="ti-facebook"></i> </a>
            <a href="#"> <i class="ti-twitter-alt"></i> </a>
            <a href="#"> <i class="ti-instagram"></i> </a>
            <a href="#"> <i class="ti-skype"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-xl-3">
        <div class="single-footer-widget footer_3">
          <h4> <%= t :follow %> </h4>
          <div class="single-footer-widget footer_2">
            <div class="fb-page" data-href="https://www.facebook.com/Nh%C3%A2n-L%E1%BB%B1c-Nam-H%C3%A0-110556450459411" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Nh%C3%A2n-L%E1%BB%B1c-Nam-H%C3%A0-110556450459411" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nh%C3%A2n-L%E1%BB%B1c-Nam-H%C3%A0-110556450459411">Nhân Lực Nam Hà</a></blockquote></div>
            <div class="social_icon hide">
              <a href="#"> <i class="ti-facebook"></i> </a>
              <a href="#"> <i class="ti-twitter-alt"></i> </a>
              <a href="#"> <i class="ti-instagram"></i> </a>
              <a href="#"> <i class="ti-skype"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright_part_text text-center">
          <div class="row">
            <div class="col-lg-12">
              <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">nhanlucnamha.com.vn</a> ft <a href="http://colorlib.com" target="_blank">colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer part end-->
</div>
</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
  <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
  </ul>
  <div class="clearfix"></div>
  <div id="notif-group" class="tabbed_notifications"></div>
</div>

