<!DOCTYPE html>
<html>
  <head>
    <title>Nhan luc nam ha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'front', media: 'all' %>
  </head>
  <body>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v5.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your customer chat code -->
  <div class="fb-customerchat"
       attribution=setup_tool
       page_id="105179890983607"
       theme_color="#9c579a"
       logged_in_greeting="Chào bạn :)"
       logged_out_greeting="Chào bạn :)">
  </div>
  <div class="body kanox">
      <!-- page content -->
      <%= yield %>
      <!-- /page content -->
    </div>

    <%= javascript_include_tag 'front' %>
    <%= render 'layouts/messages' %>
    <%= yield :more_js %>
  </body>
</html>

