<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'front', media: 'all' %>
  </head>
  <body>
    <div class="body kanox">
      <!-- page content -->
      <%= yield %>
      <!-- /page content -->
    </div>

    <%= javascript_include_tag 'front' %>
    <%= render 'layouts/messages' %>
    <%= yield :more_js %>
  </body>
</html>

